div
  box-sizing:border-box;
.content
  code
    background-color: #fff5f5;
    color: #ff502c;
.customer-page-class
  color: #fb3;
  background-color: #333;
.center
  display:flex;
  justify-content:center;
  align-items:center;
.align-center
  display:flex;
  align-items:center;
.space-between
  display:flex;
  justify-content:space-between;
  align-items:center;
